@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body{
    background-color: black;
    color: white;
    font-family: monospace;
}
.wrapper
{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 0.25rem;
}
/* .navbar
{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 1rem;
} */
.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}
button{
  border: none;
  outline: none;
  border-radius: 0.25rem;
}
.navbar button
{
    padding: 0.5rem 1rem;
    list-style: none;
    margin:0 0.5rem;
    background-color: orangered;
    
}
.navbar button:hover
{
      background-color: rgb(210, 56, 0);
    cursor: pointer;
}


.notebook
{
    font-size: 1.25rem;
    padding: 2rem;
    line-height: 1.25cm;
}
.query
{
    border: 2px solid transparent;
}
.highlight{
    border: 2px solid skyblue;
    background-color: rgba(135, 207, 235, 0.289);
}

.snackbar {
  visibility: hidden;
  color: #fff;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 2px;
  padding: 16px;
  text-align: center;
  left: 50%;
  bottom: 30px;
  z-index: 112;
  position: fixed;
}

/* This will be activated when the snackbar's class is 'show' which will be added through JS */
.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  z-index: 200;
}

/* hero container */
.heroSection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


/* inputs */
input, textarea
{
  background:black;
  color: white;
  outline: none;
  font-family: poppins;
  padding: 0.5rem 1rem;
  border: 2px solid gray;
  border-radius: 0.25rem;
  resize: none;
}
.inputsSection{
  padding: 2rem 1rem;
  max-height: 95vh;
  min-height: 95vh;
  overflow-y: scroll;
  width: 100%;
  /* border: 2px solid red; */
}
.inputsSection::-webkit-scrollbar{
  background-color: black;
  width: 6px;
  border-radius: 3px;
}
.inputsSection::-webkit-scrollbar-thumb{
  background-color: rgb(54, 54, 54);
}

.activeTab
{
  display: block;
}

.inActiveTab
{
  display: none;
}


.inputsContainer
{
  /* border: 2px solid yellow; */
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;

}
.input
{
  margin: 0.5rem 0;
  text-align: left;
  width: 100%;
  /* border: 2px solid blue; */
}
.input input
{
  width: 100%;
}
.input textarea{
  min-height: 300px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow-x: scroll;
}
.input textarea::-webkit-scrollbar{
  display: none;
}

.userOperations
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.input p
{
  font-size: 0.7rem;
}
.operations[type='checkbox'], .checkBoxes .checkboxOuter input[type='checkbox']
{
  transform: scale(1.5);
}


.button
{
  background: transparent;
  outline: none;
  font-family: poppins;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  color: white;
}
.generateBtn{
  background-color: orangered;
}


/* replace section */
.replaceTxtSection{
  padding: 2rem 0;
}
.replaceActions{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.replaceTxt
{
  min-width: 100%;
  max-width: 100%;
  min-height: 500px;
  
}
.checkBoxes
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.replaceBtn
{
  background-color: blueviolet;
}


/* playground tab */
.comparisions{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.comparisions textarea{
  min-height: 60vh;
}

.compareBtn{
  background: orangered;
}


/* Maker Tab */

.makerTab
{
  /* border: 1px solid red; */
}

.makerTab .templateInput
{
  width: 100%;
  min-height: 200px;
  max-height: 250px;
 
}

.repInputContainer
{
  max-height: 500px;
  overflow-y: scroll;
  padding: 10px;
  border: 2px solid rgb(41, 41, 41);
  border-radius: 0.5rem;
}

.repInputContainer::-webkit-scrollbar
{
  width: 8px;
  border-radius: 2rem;
}

.repInputContainer::-webkit-scrollbar-track {
    background: #272727;
    border-radius: 2rem;
}

.repInputContainer::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 2rem;
}

.repInputContainer::-webkit-scrollbar-thumb:hover {
   background: #555;
}

.repInputContainer .repInput
{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  margin: 10px 0;
  position: relative;
  border-bottom: 2px solid rgb(53, 53, 53);
  padding-bottom: 10px;
  
}

.idTagName
{
  --size:20px;
  position: absolute;
  left: -5px;
  top: -5px;
  color: rgb(174, 174, 174);
  font-size: 0.85rem;
  font-weight: bold;
  background-color: rgb(57, 57, 57);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repInputDelete{
  --size:30px;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid rgb(255, 84, 84);
  cursor: pointer;
  width: var(--size);
  height: var(--size);
  border-radius: 0.25rem;
  font-size: 0.8rem;
  
}

.repInputDelete svg
{
  color: rgb(255, 84, 84);
  width: 1rem;
}


.repInput:hover .repInputDelete
{
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.repInput .variableInput
{
  grid-row: span 3;
}
.repInput .variableTxtContainer
{
  grid-column: span 3;
  grid-row: span 4;
  
}

.variableTxtContainer
{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.variableTxtActions
{
  margin: 10px 0;
}
.variableTxtActions .addLineBreakerBtn{
  background-color: rgb(164, 21, 21);
}


.addVariableBtn
{
  background-color: rgb(39, 140, 39);
  color: black;
}

.makerActionContainer{
  margin: .85rem 0;
}
.makerActionBtn
{
  border: 2px solid orangered;
  padding: 1rem 2.5rem;
}





/* result container */
.resultContianer{
  padding: 1rem;
  border: 2px solid gray;
  border-radius: 0.25rem;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1.5fr 1fr;
  gap: 10px;
  max-height: 95vh;
}
.outputsTxt{
  position: relative;
  overflow: hidden;
  padding-top: 1rem;
  border: 2px solid rgb(49, 49, 49);
  border-radius: 0.25rem;
}
.outputsTxt textarea{
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 2.5rem 0.25rem;
  border: none;
  resize: none;
  
}
.outputsTxt textarea::-webkit-scrollbar{
  background-color: black;
  width: 6px;
}
.outputsTxt textarea::-webkit-scrollbar-thumb{
  background-color: rgb(57, 57, 57);
  border-radius: 3px;
}

.outputActionsContainer{
  display: flex;
  position: absolute;
  background-color: rgb(24, 24, 24);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding: 0.5rem 1rem;
}

.outputActions{
  display: flex;
}
svg
{
  color: white;
  font-size: 15px;
  width: 20px;
}

.outputActionBtn
{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.35rem;
  border: 1px solid gray;
  margin: 0 3px;
}
.outputActionBtn:hover
{
  background: rgb(54, 54, 54);
  cursor: pointer;
}




/* Animations for fading in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}